body{
	margin: 0;
	padding: 0;
    max-width: 100%;
    background-color: #fcfdfc;
}

span{
    color: red;
}

.quoteContainer{
    width: 70%;
    margin: 0;
    margin-left: 5%;
    text-transform: uppercase;
}

.quoteDeadpool{
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-size: 2.5vw;
}

.deadpoolLicorne1{
    width: 30%;
    position: absolute;
    right: 1%;
    top: 100px;
}

.deadpoolLicorne2{
    width: 59.6%;
    position: absolute;
    top: 30%;
    right: 2% ;
}

.deadpoolLicorne3{
    width: 33%;
    position: absolute;
    right: 7%;
    top: 10%;
}

.deadpoolLicorne4{
    width: 45%;
    position: absolute;
    right: -5%;
    top: 0%;
}

.unicornGif{
    width: 35%;
}